<template>
  <section>  
      <Header 
      :activeTab="activeTab" 
      :data="data"
      @update="activeTab = $event" 
      @openModal="openModal = $event"/>
      
      <main>
        <Upload 
        v-if="data.length === 0" 
        @data="data = $event"/> 

        <Main 
        v-else :activeTab="activeTab" 
        :data="data"/> 
      </main>
  </section>
</template>

<script>
import Header from '@/components/Header'
import Upload from '@/components/Upload'
import Main from '@/components/Main'
import { ref, watch } from 'vue'
export default {
  components: {
    Header, Upload, Main
  },
  setup() {
    let data = ref([]) // received data from csv
    let activeTab = ref('Farms')
 
    watch(data, (data) => {
      if(data.length > 0) {
        activeTab.value = 'Table'
      }
    })
    return { 
      data, activeTab
    }

  },
}
</script>

<style lang="scss">
#app {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}

section {
  height: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  height: inherit;
}

button {
  border: none;
  background: none;
  font-weight: 600;
  transition: .3s;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  background: #005ce6;
  color: white;
  border-radius: 10px;
  padding: 10px 20px; 
  border: none;
  font-weight: 600;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

</style>
