<template>
    <div class="calculator">
        <div class="calculator__header">
            <div class="modalSelect">
                <h1>Emission Calculator</h1>
                
                <SelectBox 
                v-if="!addNew"
                :arr="farms"
                @selected="farm = $event"
                />
            </div>

            <div class="calculator__header--actions">
                <button class="saveAs" @click="model = true">
                    <span class="material-icons-outlined">save</span>
                    <b>Save As</b>
                </button>
                <button class="btn" @click="calculate">Calculate</button>
            </div>
        </div> 

        <!-- Calculations Results -->
        <Results 
        v-if="Object.keys(calculations).length"
        :calculations="calculations"/>

        <div class="modal__content" v-if="Object.keys(formData).length">
            <div class="content content--row">
                <div>
                    <label for="size">Size Of Farm </label>
                    <input type="text" id="size" v-model="formData.size">
                </div>
                <div>
                    <label for="livestock">Livestock</label>
                    <SelectBox 
                    :arr="livestock"
                    @selected="selected = $event" />
                    <input type="text" id="livestock" v-model="formData.cows" />

                </div>
            </div>
            
            <div class="content content--row">
                <div>
                    <label for="milkLiters">Milk Produced (l)</label>
                    <input type="number" id="milkLiters" v-model="formData.milkProduced"/>
                </div>
            </div>
            <div class="content content--title">
                <b>Equipment</b>
            </div>
            <div class="content content--row">
                <div>
                    <label for="tractors">Tractors</label>
                    <input type="text" id="tractors" v-model="formData.tractors" />
                </div>
                <div>
                    <label for="lpermile">Usage l/100mile</label>
                    <input type="number" id="lpermile" v-model="formData.lPerMile" />
                </div>
            </div>
            <div class="content content--row">
                <div>
                    <label for="tractors">Milk Machines</label>
                    <input type="number" id="tractors" v-model="formData.milkMachines" />
                </div>
                <div>
                    <label for="kpermachine">Usage kWh</label>
                    <input type="number" id="kpermachine" v-model="formData.kwh" />
                </div>
            </div>
            <div class="content content--title">
                <b>Purchases</b>
            </div>
            <div class="content content--row">
                <div
                v-for="(type, index) in types"
                :key="index"
                >
                    <label :for="types">{{type}}</label>
                    <input type="number" :id="type" v-model="formData[type].amount"/>
                </div>
            </div>
        </div>

        <Modal 
        v-if="model"
        @close="model = $event"
        />
    </div>
</template>
<script>
import { computed, ref, reactive, watch } from 'vue'
import SelectBox from '@/components/SelectBox'
import CalculateService from '@/services/Calculate'
import Modal from '@/components/Modal'
import Results from '@/components/Results'

export default {
    props: ["data"],
    components: {
        SelectBox, Modal, Results
    },
    setup(props) {
        const form = {}
        let selected = ref()
        let farm = ref()
        let addNew = ref(false)
        let formData = reactive(form)
        let model = ref(false)

        const livestock = computed(() => {
            const { data } = props
            let keys = Object.keys(data["Farms"][0])
            return keys.filter(x => x === "Cows")
        })

        const types = computed(() => {
            const { data } = props
            let types = data["Purchases"].map(item => item["Type"])
            return [...new Set(types)]
        })

        const farms = computed(() => {
            const { data } = props
            let farms = data["Farms"].map(farm => farm["Farm name"])
            return farms
        })
        
        // get new data for the farm when selected
        watch(farm, (farm) => {
            getFarmData(farm)
            calculations.value = {}
        })

        watch(addNew, () => {
            if(addNew.value) {
                formData = Object.assign(formData, {});
                console.log(formData)
            }
        })

        const getFarmData = (f) => {
            const { data } = props
            
            // find selected farm
            let farm = data["Farms"].find(farm => farm["Farm name"] === f)
            if(farm) {
                formData["size"] = Number(farm["Acres"])
                formData["cows"] = Number(farm["Cows"])
                formData["tractors"] = Number(farm["Tractors Diesel"])
                formData["lPerMile"] = Number(farm["Usage (l / 100mile)"])
                formData["milkMachines"] = Number(farm["Milk machines"])
                formData["kwh"] = Number(farm["Usage (kWh) per machine"])
                formData["milkProduced"] = Number(farm["Liters milk produced"])
            }

            // find selected purchases
            let purchases = data["Purchases"].filter(farm => farm["Farm"] === f)
           if(purchases) {
               purchases.forEach(p => {
                   formData[p["Type"]] = {
                       'amount': Number(p["Amount"]),
                       'unit': p["Unit"]
                   }
               })
           }
        }
        
        let calculations = ref({})
        const calculate = async (e) => {
            e.preventDefault();
            
            try {
                let response = await CalculateService.calculate(formData)
                calculations.value = response.data

            } catch(er) {
                console.log(er)
            }
        }

        return {
            selected, 
            farm, 
            livestock, 
            types, 
            addNew, 
            farms, 
            formData, 
            calculations,
            model, 
            calculate
        }
    },
}
</script>
<style lang="scss">
.saveAs {
    display: flex;
    align-items: center;
    margin-right: 20px;

    b {
        padding-left: 10px;
    }
}
    .modalSelect {
        display: flex;
        align-items: center;

        &--new {
            margin-left: 10px;
            display: flex;
            align-items: center;

            strong {
                padding-left: 10px;
                position: relative;
                top: 1px;
            }
        }
        
        &__select {
            background: white;
            margin-left: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;

            &.addnew {
                padding: 10px;
            }


            .select__box {
                background: white;
            }
        }
    }
    .calculator {
        background: white;
        width: 100%;
        border-radius: 10px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #85929e;
            border-radius: 10px;

            &--actions {
                display: flex;
                align-items: center;

                button {
                    transition: .3s;

                    &:hover {
                        opacity: .7;
                    }
                }
            }

            h1 {
                font-size: 18px;
                font-weight: 600;
                opacity: .9;
                margin-right: 20px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        &--title {
            margin: 30px 0 0;
            opacity: .4;
        }

        &--row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 60px;
            margin: 0px 0;

            div {
                display: flex;
                align-items: center;
                margin: 10px 0;

                input {
                    margin-left: 20px;
                }
            }

            label {
                white-space: nowrap;
            }

        }

        label {
            margin: 10px 0;
            font-weight: 500;
            min-width: 140px;
        }

        input {
            background: #f5f5f5;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 15px;
            font-weight: 700;
            width: 100%; 

            &:focus {
                outline: none;
            }
        }
    }

    .addNew {
        display:flex;
        align-items: center;
    

        input {
            border: none;
            border-radius: 10px;
            font-weight: 600;
            padding-left: 10px;

            &:focus {
                outline: none;
            }
        }
    }
</style>