<template>
    <table  cellspacing="0" cellpadding="0">
        <thead>
            <th
            v-for="(header, index) in table.headers"
            :key="index"
            >{{header}}</th>
        </thead>
        <tbody>
            <tr
            v-for="(row, rowIndex) in table.rows"
            :key="rowIndex"
            @click="$emit('row', rowIndex)"
            >
            <td v-for="(col, colIndex) in row"
            :key="colIndex"
            >{{col}}</td>
            </tr>
        </tbody>
    </table>
</template>
<script>
export default {
    props: ['table'],
    emit: ['row'],
}
</script>
<style lang="scss" scoped>
    table {
        width: 100%;

        thead {
            background: #f5f5f5;

            th {
                line-height: 60px;
                border-bottom: 1px solid #ccc; 
                border-collapse: separate; 
                border-spacing: 5px 5px;
                opacity: .7;
                font-weight: 600;
                text-align: left;
                padding: 0 10px;

                &:nth-child(n+2) {
                    text-align: center;
                }
            }
        }
        tr {
            height: 50px; 

            &:nth-child(even) {
                background: #faf8f8;
            }
        }

        td {
            // text-align:center;
            padding: 0 10px;

            &:nth-child(1) {
                font-weight: 600;
            }

            &:nth-child(n+2) {
                text-align: center;
            }
        }
    }
</style>