<template>
    <header>
        <h1>Dairy farm emission simulator</h1>
        <div class="actions" v-if="Object.keys(data).length">
            <button
            v-for="(tab, index) in tabs"
            :key="index"
            :class="{'active': activeTab === tab}"
            @click="$emit('update', tab)"
            >{{tab}}</button>
        </div> 
    </header>
</template>
<script>
import { ref } from 'vue'
export default {
    props: ["activeTab", "data"],
    emits: ['activeTab'], 
    setup() {
        const tabs = ["Farms", "Purchases", "Calculator"]
        let selectTab = ref()

        return {
            tabs, selectTab
        }
    },
}
</script>

<style lang="scss" scoped>
    header {
        padding: 20px 40px;
        background: #17202A;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        opacity: .6;
    }

    .actions {
        margin-left: 20px;

        button {
            // margin: 0 10px;
            padding: 10px 20px;
            margin: 0 5px;
            font-weight: 600;
            color: #F4F6F6;

            &.active {
                border-radius: 10px;
                background: #f5f5f5;
                color: black;
            }
        }
    }
</style>