<template>
    <section class="main">
        <div class="main__select" v-if="activeTab === 'Purchases'">
            <SelectBox 
            :arr="farms"
            @selected="selected = $event"
            /> 
        </div>
        <Table :table="table" v-if="activeTab !== 'Calculator'"/>
        <Calculator v-else :data="data" />    
        </section>
</template>
<script>
import Table from '@/components/tabs/Table'
import Calculator from '@/components/tabs/Calculator'
import SelectBox from '@/components/SelectBox'
import { ref } from 'vue'
import { computed } from 'vue'
export default {
    props: ['activeTab', 'data'],
    components: { 
        Table, SelectBox, Calculator
    },
    setup(props) {
        let selected = ref()

        const table = computed(() => {
            let { data, activeTab } = props

            let obj = {}
            if(activeTab !== 'Calculator') {
                obj = {
                    'headers': Object.keys(data[activeTab][0]),
                    'rows': data[activeTab].map(item => Object.values(item))
                }
            }

            // set the correct order
            if(activeTab === 'Purchases') {
                const [first, ...rest] = obj.headers
                obj.headers = [...rest,first]
                obj.rows = obj.rows.map(row => {
                    const [firstRow, ...restRow] = row
                    row = [...restRow,firstRow]

                    return row
                })

                if(selected.value) {
                    // purchases tab -> hide farm names from header and from rows
                    obj.headers = obj.headers.filter(header => header !== 'Farm')
                    obj.rows = obj.rows.filter(x => {
                        if(x[0] === selected.value) { return x }
                    })

                    obj.rows = obj.rows.map(row => {
                        return row.filter((x, i) => i > 0)
                    })
                }

            }
            return obj
        })

        const farms = computed(() => {
            let { data } = props
            return data["Farms"].map(farm => farm["Farm name"])
        })
 

        return {
            table, farms, selected
        }
    },
}
</script>
<style lang="scss" scoped>
    section {
        padding: 20px 40px;
    }

    .main {
        position: relative; 

        &__select {
            margin-bottom: 20px;
        }
    }
</style>