<template>
    <div class="modal">
        <div class="modal__box box">
            <div class="box__header">
                <h1>Save New Farm</h1>
                <button @click="$emit('close', false)">
                    <span class="material-icons-outlined">close</span>
                </button>
            </div>
            <div class="box__content">
                <input type="text" placeholder="Farm Name">
                <button class="btn" @click="$emit('close', false)">Save</button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    emit: ['close']
}
</script>
<style lang="scss" scoped>
    .modal {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        background: rgba(1,1,1,.3);
        display: flex;
        justify-content: center;
    }

    .box {
        border-radius: 10px;
        background: white;
        max-width: 400px;
        min-width:400px;
        max-height: 170px;
        margin-top: 40px;
        padding: 20px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__content {
            display: flex;
            flex-direction: column;

            input {
                padding: 10px 15px;
                border: 1px solid #ccc;
                border-radius: 10px;
            }

            button {
                margin: 20px 0;
            }
        }
    }
</style>