<template>
    <div class="results">
        <span
        v-for="(item, index) in Object.entries(calculations)"
        :key="index"
        >{{item[0]}}: <strong>{{item[1]}}</strong>
        </span>
    </div>
</template>
<script>
export default {
    props: ["calculations"]
}
</script>
<style lang="scss" scoped>
    .results {
        margin: 10px 0;
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #EAF2F8;
        border-radius: 10px;
        color: #17202a;

        strong {
            padding-left: 10px;
        }
        span {
            width: 100%;
        }
    }
</style>