<template>
    <div class="select">
        <div class="select__box" @click="dropdown = !dropdown">
            <b>{{selected}}</b>
            <span class="material-icons-outlined" v-if="arr.length > 1">
                {{dropdown ? 'arrow_drop_up' : 'arrow_drop_down'}}
            </span>
        </div>
        <div class="select__list" v-if="dropdown">
            <button
            v-for="(item, index) in arr.filter(item => item !== selected).sort()"
            :key="index"
            @click="selected = item; dropdown = false"
            >{{item}}</button>
        </div>
    </div>
</template>
<script>
import { ref, watchEffect } from 'vue'
export default {
    props: ["arr"],
    emit: ["selected"], 
    setup(props, { emit }) {
        let selected = ref(props.arr[0])
        let dropdown = ref(false)
 
        watchEffect(() => emit("selected", selected.value))

        return {
            selected, dropdown
        }
    },
}
</script>
<style lang="scss" scoped>
    .select {
        position: relative;
        
        &__box {
            background: #f5f5f5;
            padding: 10px 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;

            &:hover {
                cursor: pointer;
            }

            b {
                padding-right: 20px;
                font-weight: 500;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.2);
            border-radius: 10px;
            position: absolute;
            background: white;
            width: 100%;
            z-index: 1;
            
            button {
                text-align: left;
                padding: 15px;
                white-space: nowrap; 
                transition: .3s;
                color: #747474;

                &:hover {
                    background: #f5f5f5;
                }
            }
        }
    }
</style>