<template>
    <div class="upload" @drop.prevent="addFile">
        <div class="upload__box box">
            <input class="box__file" type="file" name="file" ref="file" @change="onChange($event)" />
            <span class="material-icons-outlined icon">cloud_upload</span>
            <p>Drag files to upload, or</p>
            <button class="btn">Choose a file</button>
        </div>
    </div>
</template>
<script>
import UploadFileService from '../services/UploadCsv'
export default {
    setup(_, { emit }) {
        const workSheets = ["Farms", "Purchases"]

        // add file by dragging and dropping
        const addFile = (e) => {
            const csv = e.dataTransfer.files[0];

            uplaodFile(csv)
        }

        // add file by upload btn
        const onChange = (e) => {
            const csvFile =  e.target.files[0];

            uplaodFile(csvFile)
            
        }

        const uplaodFile = async (csvFile) => {
            let obj = {}
            try {
                for(const sheet of workSheets) {
                    let response = await UploadFileService.upload(csvFile, sheet)
                    let data = response.data

                    obj[sheet] = data
                }
                
                if(Object.keys(obj).length > 0) {
                    emit('data', obj)
                } 
            } catch(er) {
                console.log(er)
            }
        }

        return {
            addFile, onChange
        }
    },
}
</script>

<style lang="scss" scoped>
    .upload {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &__box {
            background: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.1);
        }
    }

    .icon {
        opacity: .7;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        p {
            margin: 20px 0;
        }

        &__file {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;

            &:hover {
                cursor: pointer;
            }
        }

    }
</style>

